body {
    /*background-color: #11845;*/
    background-color: rgba(10,23,55,0.5);
    background-image: url("https://3.bp.blogspot.com/-piZWCW2uUbg/W2fPXxkWZgI/AAAAAAAAOu0/eydmMjTIqcwLMHEEr2H7imqoRTxMw4o9QCLcBGAs/s1600/among_trees_night_dribbble.png");

}

/*
.background-img {
    background-image: url("https://3.bp.blogspot.com/-piZWCW2uUbg/W2fPXxkWZgI/AAAAAAAAOu0/eydmMjTIqcwLMHEEr2H7imqoRTxMw4o9QCLcBGAs/s1600/among_trees_night_dribbble.png");
    height: 400px;
    width: 800px;
    background-color: #11845;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #2a3cad;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #2a3cad;
    position: relative;
}
*/

body {
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.vl {
    border-left: 1px solid rgb(136, 136, 136);
    height: 80px;
}

.hl {
    border-left: 1px solid rgb(136, 136, 136);
    width: 80px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
}

.card_titulo_atributo {
    text-align: center;
    font-weight: bold;
    font-size: 0.5rem;
    color: rgb(181, 121, 121);
    white-space: nowrap;
}

.contabilizador_atributo {
    flex: 1 1 auto;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
    color: white;
    margin-top: 0.25rem;
}

.card_valor_atributo {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 1rem;
}

.card_barra {
    margin-top: 10px;
    font-size: 2rem;
}

.cards__item {
    display: flex;
    padding: 1rem;
}

.card {
    background-color: rgba(0, 20, 70, 0.5);
    width: 100px;
    border-radius: 0.5rem;
    border-width: 0.25rem;
    border-color: rgb(190, 68, 68);
    border-style: double;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-right: -5px;
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    border: 2px solid #a64949;
    color: white;
}

.card:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(239, 239, 233, 0.1);
    transition: 0.5s;
    pointer-events: none;
}

.card:hover:before {
    left: -20%;
    transform: skewX(-5deg);
}

.card__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1rem;
    
}

td {
    color: white;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
}
